<h3>{{post.user}}</h3>
<h3>{{post.content}}</h3>
<h3>{{post.category}}</h3>
<h3>{{post.tag}}</h3>
<h3>{{post.time}}</h3>

<button {{action 'delete' post}}>Delete</button>


<h2>Comments (be nice)</h2>
{{#each post.comments as |comment|}}
  {{comment-tile comment=comment destroyComment="destroyComment"}}
{{/each}}
