{{#if updateBlogForm}}
  <form>
    {{input class="form-control" value=title id='title' placeholder="Enter a title..."}}
    {{input class="form-control" value=user id='user' placeholder="Enter username..."}}
    {{textarea class="form-control" value=content id='content' placeholder="Enter content..."}}
    {{input class="form-control" value=category id='category' placeholder="Enter a category..."}}
    {{input class="form-control" value=tag id='tag' placeholder="Enter a tag..."}}
    <button {{action 'updatePost' post}}>Submit</button>
  </form>
{{else}}
  <button {{action "updateBlogShown"}}>Update Post</button>
{{/if}}
